<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
  <link rel="stylesheet" href="{{ 'assets/styles.css' | relative_url }}">

  {%- seo -%}
  {%- feed_meta -%}

  {%- include custom-head.html -%}

  <style>
    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem 0;
      gap: 0.2rem;
    }
    .pagination-item {
      padding: 0.5rem 0.4rem;
      border: none !important;
      background: none !important;
      box-shadow: none !important;
    }
    .pagination-item:hover {
      color: var(--gray-900) !important;
    }
  </style>
</head>
